#main{
    background-image: url(../images/main_wp.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
}

.form{
    position: relative;
    top: 40%;
}

.form-group{
    position: absolute;
    width: 50%;
}

.form-group input{
    margin-bottom: 10px;
    height: 50px;
    border: none;
    width: 80%;
    margin-left: 10%;
    padding-left: 10px;
}

.canvas #my_canvas{
    width: 50%;
}

