html{
    position: relative;
}

body{
    position: absolute;
    width: 100%;
    overflow: hidden !important;
}
#main{
    background-image: url(../images/main_wp.jpg);
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}

.form{
    position: relative;
    top: 40%;
}

.form-group{
    position: absolute;
    width: 50%;
}

.form-group input{
    margin-bottom: 10px;
    height: 50px;
    border: none;
    width: 80%;
    margin-left: 10%;
    padding-left: 10px;
}

.canvas #my_canvas{
    width: 50%;
}

.chart-analysis{
    background-image: url(../images/chart_bg.jpg);
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}

.social-feed{
    margin-left: 10%;
}